.navbar {
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    height: 70px;
    background-color: #3b693f;
  }
  
  .navbar-header {
    cursor: pointer;
    margin-right: auto;
  }
  