.navbar {
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    height: 70px;
    background-color: #60cc69;
  }
  
  .navbar-header {
    cursor: pointer;
    margin-right: auto;
  }
  